.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
     grid-template-rows: 50px 600px; /*длина первой строки, длина второй строки*/
     grid-template-columns: 150px 700px; /*ширина первого столбца, ширина второго*/
     grid-gap: 10px;
}